.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    background-color: #292829;
    padding: 0 30px;
}

.flex-dashboard header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.flex-dashboard header svg {
    color: #9cc739;
}

.flex-dashboard .fa-bars {
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .flex-dashboard header a {
        text-decoration: none;
        display: none;
    }
    .flex-dashboard header {
        justify-content: flex-end;
    }
}