<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/logo_health_track_espandido_cinza.png" alt="Logo Health Track">
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-chart-line"></i>
                        <a href="dashboard.html"> DASHBOARD</a>
                    </li>
                    <li li class="selected">
                        <i class="fas fa-user-circle"></i>
                        <a href="perfil.html"> PERFIL</a>
                    </li>
                    <li>
                        <i class="fas fa-weight-hanging"></i>
                        <a href="gerenciarPeso.html"> PESO E ALTURA</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciarPressao.html"> PRESSÃO ARTERIAL</a>
                    </li>
                    <li>
                        <i class="fas fa-running"></i>
                        <a href="gerenciarAtividades.html"> ATIVIDADES FÍSICAS</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcularIMC.html"> CALCULAR IMC</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.html"> ALIMENTOS</a>
                    </li>
                    <li class="sidebar_logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="../index.html "> LOGOUT</a>
                    </li>

                </ul>
            </div>
            <p>sidebar</p>
        </sidebar>
        <main id="mainContent">
            <header>
                <i id="iconMenu " onclick="responsiveSidebar() " class="fas fa-bars "> </i>
                <a href="../index.html"><i class="fas fa-sign-out-alt"></i> LOGOUT</a>
            </header>
            <div class="main-content">
                <div class="perfil-parent">
                    <div class="perfil">
                        <div class="perfil-img">
                            <div class="img">
                                <p>img</p>
                            </div>
                        </div>
                        <div class="perfil-form">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome Completo</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nome completo">
                                </div>
                                <div class="form-group">
                                    <label for="email">Idade</label>
                                    <input type="text" class="form-control" id="idade" placeholder="Idade">
                                </div>
                                <div class="form-group">
                                    <label for="genre">Gênero</label>
                                    <select class="form-control" id="genre">
                                      <option>Masculino</option>
                                      <option>Feminino</option>
                                      <option>Outro</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Senha</label>
                                    <input type="password" class="form-control" id="password" placeholder="Senha">
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <button type="submit" class="btn">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../js/menu.js "></script>
</body>

</html>