<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../images/logo_health_track_espandido_cinza.png" alt="Logo Health Track">
            </div>
            <form>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome completo">
                </div>
                <div class="form-group">
                    <label for="age">Idade</label>
                    <input type="text" class="form-control" id="age" placeholder="Idade">
                </div>
                <div class="form-group">
                    <label for="genre">Gênero</label>
                    <select class="form-control" id="genre">
                        <option>Masculino</option>
                        <option>Feminino</option>
                        <option>Outro</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
                </div>
                <a href="dashboard.html">
                    <button type="button">Cadastrar</button>
                </a>
            </form>
        </div>

    </div>

    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../js/menu.js "></script>

</body>

</html>